.search_wrapper {
  position: absolute;
  top: 175px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search_wrapper input {
  background-color: var(--gray-400);
  color: var(--gray-200);

  margin-right: 8px;
  padding: 8px;
  height: 5vh;
  width: 45vw;
  border: none;
  border-radius: 5px;
}

.search_wrapper div {
  justify-content: space-between;
  align-items: center;
}

.search_wrapper div .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  color: var(--gray-200);

  margin-right: 8px;
  padding: 8px;
  height: 5vh;
  width: 7vw;
  border: none;
  border-radius: 5px;
}

.search_wrapper div .btn img {
  margin-left: 8px;
}