.task {
  display: flex;
  justify-content: center;
  align-items: start;

  margin-top: 32px;
  margin-bottom: 16px;
  padding: 16px;
  
  background-color: var(--gray-400);
  color: var(--gray-200);
  border-radius: 5px;
}

.task input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--gray-400);
  border: 2px solid var(--blue);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;

  margin-right: 16px;
}

.task label {
  font-size: 0.875rem;
}